<html>
    <head>
       <!--<link rel="stylesheet" type="text/css" href="../vendor/style/bootstrap.min.css">-->
       <link rel="stylesheet" href="../style/index.css">
       <link rel="stylesheet" href="../vendor/style/bootstrap.css"/>
       <script src="../vendor/js/jquery-3.2.1.min.js"></script>
       <script src="../js/index.js"></script>
        
    </head>
    <body>
            <h1>Create User</h1>
        <div class="container ">
   
            
        
                <div class="row">
                    <div class="form-group col-md-3">   
                        <label>
                            Reference Name <span id="requiredStar">*</span>
                        </label>
                    </div>
                    <div class="col-md-5">  
                        <input type='text' class="form-control" id='referenceName' val="" placeholder='Please Enter Name'/>
                    </div>    
                    <div class="col-md-4">
                        <span id='invalidReferenceName' class="validationMessageClass">Please Enter Reference Name</span>
                     </div> 
                </div>
                
                <div class="row">
                        <div class="form-group col-md-3">  
                        <label>
                            Full Name <span id="requiredStar">*</span>
                        </label>
                        </div>
                        <div class="col-md-5">
                            <input type='text' class="form-control" id='fullName' val="" placeholder='Full Name' />
                        </div>  
                        <div class="col-md-4">
                            <span id='invalidFullName' class="validationMessageClass">Please Enter Full Name</span>
                        </div>
                </div>

                <div class="row">
                        <div class="form-group col-md-3">  
                        <label>
                                Nickname
                        </label>
                        </div>
                        <div class="col-md-5">
                                <input type='text' class="form-control" id='nickName' val="" placeholder='Nick Name'/> 
                        </div>  
                        <div class="col-md-4">
                            <span id='invalidNickName' class="validationMessageClass">Please Enter Nick Name</span>
                        </div>
                </div>
                 

                
                <div class="row">
                        <div class="form-group col-md-3">
                            <label>Gender <span id="requiredStar">*</span></label>
                        </div>
                        <div class="col-md-5">
                        <select id='gender' class="form-control">
                            <option value="Select" selected> Select Gender</option>
                            <option value="Male"> Male </option>
                            <option value="Female"> Female </option>
                        </select>
                        </div>
                        <div class="col-md-4">
                            <span id='invalidGender' class="validationMessageClass">Please Select Gender</span>
                        </div>    
                </div>
                
                <div  class="row">
                    <div class="form-group col-md-3">
                        <label>
                            Date Of Birth  <span id="requiredStar">*</span>
                        </label>
                    </div>
                    <div class="col-md-5">
                        <input type='date' class="form-control" id='DOB' val="" />
                    </div>
                    <div class="col-md-4" >
                        <span id='invalidDOB' class="validationMessageClass">Please Select DOB</span>
                    </div>    
                </div>
                
                <div   class="row"> 
                    <div class="form-group col-md-3">
                         <lable>
                            Address <span id="requiredStar">*</span>
                        </lable>   
                    </div> 
                    <div class="col-md-5">
                        <textarea  id='address' class="form-control" val="" placeholder='Address' row='25' column='20'></textarea>
                    </div>
                    <div class="col-md-4">
                        <span id='invalidAddress' class="validationMessageClass">Please Enter Address</span> 
                    </div>    
                </div>
                 
                <div  class="row" style="margin-top:10px;">
                    <div class="form-group col-md-3">
                        <label>
                            Mobile No
                        </label> 
                    </div>
                    <div class="col-md-5">
                        <input id='mobileNo' class="form-control" val="" placeholder='Mobile Number' type='number' /> 
                    </div>   
                </div>
                <div class="row">
                        <div class="form-group col-md-3">
                            <label>Home Phone </label>
                        </div>
                        
                    <div class="col-md-5">
                        
                        <input id='homePhoneNo' class="form-control" val="" placeholder='Home Phone Number' type='number'/> 
                    </div>
                </div>
                <div class="row">
                        <div class="form-group col-md-3">
                            <label>Office Phone Number  </label>
                        </div>
                        <div class="col-md-5">
                            <input id='officePhoneNo' class="form-control" val="" placeholder='Office Phone Number' type='number'/>
                         </div> 
                </div>
                <div class="row">
                        <div class="form-group col-md-3">
                            <label> Email </label>
                        </div>
                        <div class="col-md-5">
                            <input id='emailId' val="" class="form-control" placeholder='Email Address' type='email'/>   
                        </div>
                </div>
                <div class="row">
                        <div  class="form-group col-md-3">
                            <label  >Qualification  <span id="requiredStar">*</span> </label>
                        </div> 
                        <div class="col-md-5">
                            <input id='eduQualification' class="form-control" val="" placeholder='Education Qualification' type='text'/> 
                        </div>
                        <div class="col-md-4">
                            <span id='invalideduQualification' class="validationMessageClass">Please Enter Education Qualification</span>
                        </div>    
                    </div>   
                <div class="row">
                        <div class="form-group col-md-3">
                            <label>Major Subject <span id="requiredStar">*</span></label>
                        </div>
                        <div class="col-md-5">
                            <input id='majorSubject' class="form-control" val="" type='Text' placeholder='Major Subject'/> 
                        </div>
                        <div class="col-md-4">
                            <span id='invalidmajorSubject' class="validationMessageClass">Please Enter Major Subject</span>
                        </div>    
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Education Status    <span id="requiredStar">*</span></label>
                    </div>
                    <div class="col-md-5">
                        <input id='eduStatus' class="form-control" val="" placeholder='Educational status' type='Text'/> 
                    </div> 
                    <div class="col-md-4">
                        <span id='invalideduStatus' class="validationMessageClass">Please Enter Major Subject</span>
                    </div>    
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Attending Sabha ?   <span id="requiredStar">*</span></label>
                    </div>
                    <div class="col-md-5">
                        <input id='attandance' class="form-control" val="" placeholder='Attending Sabha' type='text' /> 
                    </div>
                    <div class="col-md-4">
                        <span id='invalidattendance' class="validationMessageClass">Please Enter Attendance</span>
                    </div>    
                </div> 
                <div class="row">
                        <div class="form-group col-md-3"> 
                            <label>Select Sabha   <span id="requiredStar">*</span></label>
                        </div>
                    <div class="col-md-5">
                         
                        <select id='Sabha' class="form-control">
                            <option value='Select'>Select Sabha</option>
                            <option value='Ghatkopar'> Ghatkopar </option>
                            <option value='Bhandup'> Bhandup </option>s
                            <option value='Mulund'> Mulund</option>
                            <option value='Dombivali'> Dombivali </option> 
                        </select>
                     
                    </div> 
                    <div class="col-md-4">
                        <span id='invalidsabhaPlace' class="validationMessageClass">Please Enter Sabha</span>
                    </div>    
                </div>
                 
                <div class="row">
                        <div class="form-group col-md-3"> 
                            <label>Follow Up Name   <span id="requiredStar">*</span></label>
                        </div>
                    <div class="col-md-5">
                     
                        <input type='text' class="form-control" id='followName' val="" placeholder='Select Followup'/> 
                    </div>
                    <div class="col-md-4">
                        <span id='invalidfollowName' class="validationMessageClass">Please Enter Follow up Yuvak Name</span> 
                    </div>    
                </div>
                <div class="row">
                     <div id="myid" class="col-md-8" align="center" >
                        <input id='btnAdd' class="btn btn-primary col-sm-5 "type='button' value='Add'/>  
                      
                    </div>
                </div>
             
         
    </div> 
    </body> 
</html>