



<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!--<link rel="stylesheet" type="text/css" href="../vendor/style/bootstrap.min.css">-->
       <link rel="stylesheet" href="../style/index.css">
       <link rel="stylesheet" href="../vendor/style/bootstrap.css"/>
       <script src="../vendor/js/jquery-3.2.1.min.js"></script>
       <script src="../js/index.js"></script>
        
    </head>
    <body>

            <a id="birthdaySection" href="BirthdaySection.html"  >Birthday Section</a>
            <h1>Create User</h1>
            <form id="YuvakDetails" action="" method ="POST" enctype="multipart/form-data">
             <div> 
                
                <div class="row" >
                        
                        <div   class="form-group col-md-3">   
                            <label>
                                Reference Name <span id="requiredStar">*</span>
                            </label>
                        </div>
                        <div class="col-md-2">  
                            <input type='text' class="form-control" id='referenceName' val="" name="refName" placeholder='Please Enter Name'/>
                        </div>    
                        <div class="col-md-3">
                            <span id='invalidReferenceName' class="validationMessageClass">Please Enter Reference Name</span>
                        </div>
                     
                 </div>
                
                <div class="row">
                        <div class="form-group col-md-3">  
                            <label>
                                First Name <span id="requiredStar">*</span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <input type='text' class="form-control" id='firstName' val="" name="firstName" placeholder='First Name' />
                        </div>  
                        <div class="col-md-3">
                            <span id='invalidFirstName' class="validationMessageClass">Please Enter First Name</span>
                        </div>
                </div>

                <div class="row">
                        <div class="form-group col-md-3">  
                            <label>
                                Middle Name <span id="requiredStar">*</span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <input type='text' class="form-control" id='middleName' val="" name="middleName" placeholder='Middle Name' />
                        </div>  
                        <div class="col-md-3">
                            <span id='invalidMiddleName' class="validationMessageClass">Please Enter Middle Name</span>
                        </div>
                </div>

                <div class="row">
                        <div class="form-group col-md-3">  
                            <label>
                                Last Name <span id="requiredStar">*</span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <input type='text' class="form-control" id='lastName' val="" name="lastName" placeholder='Last Name' />
                        </div>  
                        <div class="col-md-3">
                            <span id='invalidLastName' class="validationMessageClass">Please Enter Last Name</span>
                        </div>
                </div>

                <div class="row">
                        <div class="form-group col-md-3">  
                        <label>
                                Nickname
                        </label>
                        </div>
                        <div class="col-md-2">
                                <input type='text' class="form-control" id='nickName' val="" name="nickName" placeholder='Nick Name'/> 
                        </div>  
                        <div class="col-md-3">
                            <span id='invalidNickName' class="validationMessageClass">Please Enter Nick Name</span>
                        </div>
                </div>
                 

                
                <div class="row">
                        <div class="form-group col-md-3">
                            <label>Gender <span id="requiredStar">*</span></label>
                        </div>
                        <div class="col-md-2">
                        <select id='gender' name="gender" class="form-control">
                            <option value="Select" selected> Select Gender</option>
                            <option value="Male"> Male </option>
                            <option value="Female"> Female </option>
                        </select>
                        </div>
                        <div class="col-md-3">
                            <span id='invalidGender' class="validationMessageClass">Please Select Gender</span>
                        </div>    
                </div>
                
                <div  class="row">
                    <div class="form-group col-md-3">
                        <label>
                            Date Of Birth  <span id="requiredStar">*</span>
                        </label>
                    </div>
                    <div class="col-md-2">
                        <input placeholder="DD-MM-YYYY" onfocus="(this.type='date')" name="DOB" class="form-control" id='DOB'  />
                    </div>
                    <div class="col-md-3" >
                        <span id='invalidDOB'  class="validationMessageClass">Please Select DOB</span>
                    </div>    
                </div>
                
                <div   class="row"> 
                    <div class="form-group col-md-3">
                         <lable>
                            Address <span id="requiredStar">*</span>
                        </lable>   
                    </div> 
                    <div class="col-md-3">
                        <textarea  id='address' class="form-control" val="" name="address" placeholder='Address' row='25' column='20'></textarea>
                    </div>
                    <div class="col-md-3">
                        <span id='invalidAddress' class="validationMessageClass">Please Enter Address</span> 
                    </div>    
                </div>
                 
                <div  class="row" style="margin-top:10px;">
                    <div class="form-group col-md-3">
                        <label>
                            Mobile No
                        </label> 
                    </div>
                    <div class="col-md-2">
                        <input id='mobileNo' class="form-control" name="mobileNo" placeholder='Mobile Number' type='number' /> 
                    </div>  
                    <div class="col-md-3">
                        <span id='invalidmobileNo' class="validationMessageClass">Please Enter Valid Mobile Number</span>
                    </div> 
                </div>
                <div class="row">
                        <div class="form-group col-md-3">
                            <label>Home Phone </label>
                        </div>
                        
                    <div class="col-md-2">
                        
                        <input id='homePhoneNo' class="form-control" name="homeNo" placeholder='Home Phone Number' type='number'  /> 
                    </div>
                    <div class="col-md-3">
                        <span id='invalidhomePhoneNo' class="validationMessageClass">Please Enter Valid Phone Number</span>
                    </div>
                </div>
                <div class="row">
                        <div class="form-group col-md-3">
                            <label>Office Phone Number  </label>
                        </div>
                        <div class="col-md-2">
                            <input id='officePhoneNo' class="form-control"   name="officeNo" placeholder='Office Phone Number' type='number'/>
                         </div> 
                         <div class="col-md-3">
                            <span id='invalidofficePhoneNo' class="validationMessageClass">Please Enter Valid Phone Number</span>
                        </div>
                </div>
                <div class="row">
                        <div class="form-group col-md-3">
                            <label> Email </label>
                        </div>
                        <div class="col-md-2">
                            <input id='emailId' val="" class="form-control" name="email" placeholder='Email Address' type='email'/>   
                        </div>
                        <div class="col-md-3">
                            <span id='invalidEmail' class="validationMessageClass">Please Enter Valid Email</span>
                        </div>  
                </div>
                <div class="row">
                        <div  class="form-group col-md-3">
                            <label  >Qualification  <span id="requiredStar">*</span> </label>
                        </div> 
                        <div class="col-md-2">
                            <input id='qualification' class="form-control" val="" name="qualification" placeholder='Education Qualification' type='text'/> 
                        </div>
                        <div class="col-md-3">
                            <span id='invalideduQualification' class="validationMessageClass">Please Enter Education Qualification</span>
                        </div>    
                    </div>   
                <div class="row">
                        <div class="form-group col-md-3">
                            <label>Major Subject <span id="requiredStar">*</span></label>
                        </div>
                        <div class="col-md-2">
                            <input id='majorSubject' class="form-control" val="" type='Text' name="majorSub" placeholder='Major Subject'/> 
                        </div>
                        <div class="col-md-3">
                            <span id='invalidmajorSubject' class="validationMessageClass">Please Enter Major Subject</span>
                        </div>    
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Education Status    <span id="requiredStar">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <input id='eduStatus' class="form-control" val="" name="eduStatus" placeholder='Educational status' type='Text'/> 
                    </div> 
                    <div class="col-md-3">
                        <span id='invalideduStatus' class="validationMessageClass">Please Enter Major Subject</span>
                    </div>    
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>Attending Sabha ?   <span id="requiredStar">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <input id='attendance' class="form-control" val="" name="sabhaAttendance" placeholder='Attending Sabha' type='text' /> 
                    </div>
                    <div class="col-md-3">
                        <span id='invalidattendance' class="validationMessageClass">Please Enter Attendance</span>
                    </div>    
                </div> 
                <div class="row">
                        <div class="form-group col-md-3"> 
                            <label>Select Sabha   <span id="requiredStar">*</span></label>
                        </div>
                    <div class="col-md-2">
                         
                        <select id='Sabha' name="sabhaDetails" class="form-control">
                            <option value='Select'>Select Sabha</option>
                            <option value='Ghatkopar'> Ghatkopar </option>
                            <option value='Bhandup'> Bhandup </option>
                            <option value='Mulund'> Mulund</option>
                            <option value='Dombivali'> Dombivali </option> 
                        </select>
                     
                    </div> 
                    <div class="col-md-3">
                        <span id='invalidsabhaPlace' class="validationMessageClass">Please Enter Sabha</span>
                    </div>    
                </div>
                 
                <div class="row">
                        <div class="form-group col-md-3"> 
                            <label>Follow Up Name   <span id="requiredStar">*</span></label>
                        </div>
                    <div class="col-md-2">
                     
                        <input type='text' class="form-control" id='followName' name="followupYuvakName" val="" placeholder='Enter Follow up Yuvak Name'/> 
                    </div>
                    <div class="col-md-3">
                        <span id='invalidfollowName' class="validationMessageClass">Please Enter Follow up Yuvak Name</span> 
                    </div>    
                </div>
                <div class="row"> 
                        <div   class="form-group col-md-3">   
                                <label>
                                    Yuvak Image <span id="requiredStar">*</span>
                                </label>
                            </div>

                        <div class="col-md-2">
                            <input id="imageSearch" type="file" name="file1"  accept=".jpg,.jpeg"/>            
                         </div>       
                         <div class="col-md-1">
                            <img id="yuvakImage" alt="photo" height="100px" width="100px" /> 
                        </div>
                        <div class="col-md-2">
                                <span id='invalidfileName' class="validationMessageClass">Please Enter Valid File</span>
                        </div>
                </div> 
                <div class="row">
                    <div class="form-group col-md-3"> 
                        <label>Leader Name   <span id="requiredStar">*</span></label>
                    </div>
                <div class="col-md-2">
                 
                    <input type='text' class="form-control" id='leaderName' val="" name="leaderName" placeholder='Enter Leader Name'/> 
                </div>
                <div class="col-md-3">
                    <span id='invalidleaderName' class="validationMessageClass">Please Enter Leader Name</span> 
                </div>    
            </div>
            <br/>
                <div class="row">
                     <div id="myid" class="col-md-8" align="center" >
                        <input id='btnAdd' class="btn btn-primary col-sm-5 " type='button' value='Add'/>  
                      
                    </div>
                </div>
        </div> 
        </form>
    </body> 
</html>
