<html>
    <head>
      
    </head>
    <body>
       <button id="viewDetails">View Details</button>
       <div>
           <table border="1">
                   <thead>
                           <tr>
                               <th></th>
                               <th>ID</th>
                               <th>REFNAME</th>
                               <th>FULLNAME</th>
                               <th>NICKNAME</th>
                               <th>GENDER</th>
                               <th>DOB</th>
                               <th>ADDRESS</th>
                               <th>MOBILE</th>
                               <th>HOME</th>
                               <th>OFFICE</th>
                               <th>EMAIL</th>
                               <th>QUALIFICATION</th>
                               <th>MAJORSUB</th>
                               <th>EDUSTATUS</th>
                               <th>ATTENDENCE</th>
                               <th>FOLLOWUPNAME</th>
                           </tr>
                        
                       </thead>
                       <tbody id="showDetails" >

                       </tbody>
           </table>
       </div>
       <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>  
       <script type="text/javascript" src="../js/read.js"></script>
    </body> 
</html>