<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../vendor/style/index.css">
        <link rel="stylesheet" type="text/css" href="../vendor/style/mdbootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../vendor/style/mdbootstrap/css/mdb.css"/>
    </head>
    <body id="result">
        <section class="page-header" style="background-image: radial-gradient(circle at 12% 100%, #fafae5, #717593);">
            <div class="container">
                <div class="row">
                                    <div class="col-md-12">
                                        <div class="media d-block d-md-flex">
                                            <img class="mt-4 d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto" src="../images/logo.png" >
                                            <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                                <h1 class="mt-5 font-bold black-text avenir" id="yuvakName"></h1>
                                                <small class="mt-4 font-bold black-text avenir" id="sabhaPlace"><small>
                                            </div>
                                        </div>        
                                    </div>          
                </div>
            </div>
        </section>

        <div class="container">
         <div class="row">
         <div class="col-md-6">    
        <div class="mt-5 card">
        <h5 class="card-header primary-color black-text avenir">Personal Information</h5>
        <div class="card-body">
                <p class="h6 mb-4 black-text avenir">Name:</p>
                <p class="h6 mb-4 black-text avenir">Age:</p>
                <p class="h6 mb-4 black-text avenir">Blood Group:</p>
                <p class="h6 mb-4 black-text avenir">Date of Birth:</p>
                <p class="h6 mb-4 black-text avenir">Address:</p>
          
        </div>
     </div>
     </div>
     <div class="col-md-6">    
        <div class="mt-5 card">
        <h5 class="card-header primary-color black-text avenir">Professional Information</h5>
        <div class="card-body">
            <p class="h6 mb-4 black-text avenir">Qualification:</p>
            <p class="h6 mb-4 black-text avenir">Profession:</p>
            <p class="h6 mb-4 black-text avenir">Organization:</p>
            <p class="h6 mb-4 black-text avenir">Work Experience:</p>
          
        </div>
     </div>
     </div>
     <div class="col-md-12">    
        <div class="mt-5 card">
        <h5 class="card-header primary-color black-text avenir">Sabha Information</h5>
        <div class="card-body">
            <p class="h6 mb-4 black-text avenir">Date of Joining:</p>
            <p class="h6 mb-4 black-text avenir">Sabha Place:</p>
            <p class="h6 mb-4 black-text avenir">Leader:</p>
            <p class="h6 mb-4 black-text avenir">Attending Sabha:</p>
            <p class="h6 mb-4 black-text avenir">Reference Name:</p>
            <p class="h6 mb-4 black-text avenir">FollowUp Name:</p>
            </div>
     </div>
     </div>
      </div>
        </div>
  
            
       <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>  
       <script type="text/javascript" src="../js/read.js"></script>
        <script type="text/javascript" src="../js/rename.js"></script>
       <script type="text/javascript" src="../vendor/style/mdbootstrap/js/bootstrap.js"></script>
       <script type="text/javascript" src="../vendor/style/mdbootstrap/js/mdb.js"></script>
       </body> 
</html>