<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../vendor/style/index.css">
        <link rel="stylesheet" type="text/css" href="../vendor/style/mdbootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../vendor/style/mdbootstrap/css/mdb.css"/>
    </head>
    <body id="result">
        <section class="page-header" id="page-background">
            <div class="container">
                <div class="row">
                                    <div class="col-md-12">
                                        <div class="media d-block d-md-flex">
                                            <img class="mt-4 d-flex rounded-circle avatar z-depth-1-half mb-3 mx-auto" id="yuvakImage" src="../images/logo.png" >
                                            <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                                <h1 class="mt-5 font-bold black-text avenir" id="yuvakName"></h1>
                                                <small class="mt-4 font-bold black-text avenir" id="sabhaPlace"><small>
                                            </div>
                                        </div>        
                                    </div>          
                </div>
            </div>
        </section>

        <div class="container">
         <div class="row">
         <div class="mt-5 col-md-6">    
        <div class="card">
        <h5 class="card-header primary-color black-text avenir">Personal Information</h5>
        <div class="card-body">
            <div class="row">  
            <div class="col-5 col-md-4">     
            <p class="h6  black-text avenir para"><b>Name:</b></p>
            </div>
            <div class="col-7 col-md-8"> 
                <span class="data-info" id="Name"></span>
            </div>
            </div>
            <div class="row">  
                    <div class="col-5 col-md-4">     
                    <p class="h6  black-text avenir para"><b>Age:</b></p>
                    </div>
                    <div class="col-7 col-md-8"> 
                        <span class="data-info" id="Age"></span>
                    </div>
                    </div>
                    <div class="row">  
                            <div class="col-5 col-md-4">     
                            <p class="h6  black-text avenir para"><b>Blood Group:</b></p>
                            </div>
                            <div class="col-7 col-md-8"> 
                                <span class="data-info" id="BloodGroup"></span>
                            </div>
                            </div>
                       <div class="row">  
                                    <div class="col-5 col-md-4">     
                                    <p class="h6 black-text avenir para"><b>Date of Birth:</b></p>
                                    </div>
                                    <div class="col-7 col-md-8"> 
                                        <span class="data-info" id="dob"></span>
                                    </div>
                                    </div>
                          <div class="row">  
                                            <div class="col-5 col-md-4">     
                                            <p class="h6  black-text avenir para"><b>Address:</b></p>
                                            </div>
                                            <div class="col-7 col-md-8"> 
                                                <span class="data-info" id="address"></span>
                                    </div>
                                   </div>
        </div>
     </div>
     </div>
     <div class="mt-5 col-md-6">    
        <div class=" card">
        <h5 class="card-header primary-color black-text avenir">Professional Information</h5>
        <div class="card-body">
                <div class="row">  
                        <div class="col-5 col-md-4">     
                        <p class="h6 mb-4 black-text avenir para"><b>Qualification:</b></p>
                        </div>
                        <div class="col-7 col-md-8"> 
                            <span class="data-info" id="qualification"></span>
                </div>
               </div>
               <div class="row">  
                    <div class="col-5 col-md-4">     
                    <p class="h6 mb-4 black-text avenir para"><b>Profession:</b></p>
                    </div>
                    <div class="col-7 col-md-8"> 
                        <span class="data-info" id="profession"></span>
            </div>
           </div>
           <div class="row">  
                <div class="col-5 col-md-4">     
                <p class="h6 mb-4 black-text avenir para"><b>Organization:</b></p>
                </div>
                <div class="col-7 col-md-8"> 
                    <span class="data-info" id="organization"></span>
        </div>
       </div>
       <div class="row">  
            <div class="col-5 col-md-4">     
            <p class="h6 mb-4 black-text avenir para"><b>Work Experience:</b></p>
            </div>
            <div class="col-7 col-md-8"> 
                <span class="data-info" id="workexp"></span>
    </div>
   </div>
           
        </div>
     </div>
     </div>
     <div class="mt-5 col-md-12">    
        <div class="card">
        <h5 class="card-header primary-color black-text avenir">Sabha Information</h5>
        <div class="card-body">
                <div class="row">  
                        <div class="col-5 col-md-4">     
                        <p class="h6 mb-4 black-text avenir para"><b>Date of Joining:</b></p>
                        </div>
                        <div class="col-7 col-md-8"> 
                            <span class="data-info" id="dateofjoin"></span>
                </div>
               </div>
               <div class="row">  
                    <div class="col-5 col-md-4">     
                    <p class="h6 mb-4 black-text avenir para"><b>Sabha Place:</b></p>
                    </div>
                    <div class="col-7 col-md-8"> 
                        <span class="data-info" id="sabhaplace"></span>
            </div>
           </div>
           <div class="row">  
                <div class="col-5 col-md-4">     
                <p class="h6 mb-4 black-text avenir para"><b>Leader:</b></p>
                </div>
                <div class="col-7 col-md-8"> 
                    <span class="data-info" id="leader"></span>
        </div>
       </div>
                    <div class="row">  
                            <div class="col-5 col-md-4">     
                            <p class="h6 mb-4 black-text avenir para"><b>Attending Sabha:</b></p>
                            </div>
                            <div class="col-7 col-md-8"> 
                                <span class="data-info" id="attending"></span>
                    </div>
                </div>
                <div class="row">  
                        <div class="col-5 col-md-4">     
                        <p class="h6 mb-4 black-text avenir para"><b>Reference Name:</b></p>
                        </div>
                        <div class="col-7 col-md-8"> 
                            <span class="data-info" id="reference"></span>
                </div>
                </div>
                <div class="row">  
                        <div class="col-5 col-md-4">     
                        <p class="h6 mb-4 black-text avenir para"><b>FollowUp Name:</b></p>
                        </div>
                        <div class="col-7 col-md-8"> 
                            <span class="data-info" id="followup"></span>
                </div>
                </div>
                            </div>
     </div>
     </div>
      </div>
        </div>
  
            
       <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>  
       <script type="text/javascript" src="../js/jquery.cookie.js"></script>
       <script type="text/javascript" src="../js/view.js"></script>
        <script type="text/javascript" src="../js/rename.js"></script>
       <script type="text/javascript" src="../vendor/style/mdbootstrap/js/bootstrap.js"></script>
       <script type="text/javascript" src="../vendor/style/mdbootstrap/js/mdb.js"></script>
       </body> 
</html>