<div class="modal-header">
      
            <h3 class="modal-title">Modal!</h3>
             
       
    </div>
<div >  
    <form  novalidate  class="bs-example form-horizontal ng-pristine ng-valid ng-submitted form-validation" ng-controller="updateDataController">
        <div class="modal-body modal-scrollable">
                <div >    
                    <tabset justified="true" class="tab-container" >
                        <tab heading="Personal Information">
                                <div class="wrapper-md" >
                                        <div class="row">
                                            <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Yuvak Id:</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" ng-model="form.editid" class="form-control" readonly />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                                <label class="col-sm-2 control-label">Reference Name</label>
                                                                <div class="col-sm-4">
                                                                    <input type="text" ng-model="form.editrefName" class="form-control"   placeholder="Enter Reference Name" required>
                                                                </div>
                                                        </div>
                                                        <div class="form-group" >
                                                            <label class="col-sm-2 control-label">First Name</label>
                                                            <div class="col-sm-4">
                                                                <input type="text"  ng-model="form.editfirstName" class="form-control" placeholder="First Name" required>
                                                            </div>
                                                        </div> 
                                                        <div class="form-group" >
                                                            <label class="col-sm-2 control-label">Middle Name</label>
                                                            <div class="col-sm-4">
                                                                <input type="text"  ng-model="form.editmiddleName" class="form-control" placeholder="Middle Name"required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" >
                                                                <label class="col-sm-2 control-label">Last Name</label>
                                                                <div class="col-sm-4">
                                                                    <input type="text"  ng-model="form.editlastName" class="form-control" placeholder="Last Name"required>
                                                                </div>
                                                        </div> 
                                                        <div class="form-group" >
                                                                <label class="col-sm-2 control-label">Nick Name</label>
                                                                <div class="col-sm-4">
                                                                    <input type="text" ng-model="form.editnickName" class="form-control" placeholder="Nick Name"required>
                                                                </div>
                                                        </div>
                                                        <div class="form-group" >
                                                                <label class="col-sm-2 control-label">Gender</label>
                                                                <div class="col-sm-4">
                                                                <div class="radio-inline">
                                                                    <label>
                                                                    <input type="radio"  ng-model="form.editgender" name="optionsRadios"  id="optionsRadios1" value="male" required>
                                                                    Male
                                                                    </label>
                                                                </div>
                                                                <div class="radio-inline">
                                                                    <label>
                                                                    <input type="radio" ng-model="form.editgender" name="optionsRadios" id="optionsRadios2"  value="female">
                                                                    Female
                                                                    </label>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label class="col-sm-2 control-label">Date Of Birth</label>
                                                                    <div class="col-sm-4" ng-controller="DatepickerDemoCtrl">
                                                                    <div class="input-group w-md">
                                                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="form.editdate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                                                        <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group" >
                                                                    <label class="col-sm-2 control-label">Address</label>
                                                                    <div class="col-sm-4">
                                                                        <textarea class="form-control" ng-model="form.editaddress" placeholder="Enter Your Address"required></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" >
                                                                    <label class="col-sm-2 control-label">Mobile No</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" class="form-control" placeholder="Mobile No" ng-model="form.editmbNo" required >
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" >
                                                                    <label class="col-sm-2 control-label">Home No</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" class="form-control" placeholder="Home no" ng-model="form.edithmNo">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" >
                                                                    <label class="col-sm-2 control-label">Office phone no</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" class="form-control" placeholder="Office No" ng-model="form.editofNo">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" >
                                                                    <label class="col-sm-2 control-label">Email</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="email" class="form-control" placeholder="enter email" ng-model="form.editemail" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" >
                                                                    <label class="col-sm-2 control-label">Qualification</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" class="form-control"  ng-model="form.editqual" placeholder="Qualification">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" >
                                                                    <label class="col-sm-2 control-label">Major Subject</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" class="form-control" ng-model="form.editmsub" placeholder="major subject"required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" >
                                                                    <label class="col-sm-2 control-label">Educational Status</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" class="form-control" ng-model="form.editedustatus" placeholder="Status"required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" >
                                                                    <label class="col-sm-2 control-label">Attending Sabha</label>
                                                                    <div class="col-sm-4">
                                                                            <div class="radio-inline">
                                                                                    <label>
                                                                                    <input type="radio" ng-model="form.editattend" name="optionsRadios" id="optionsRadios3" value="Yes">
                                                                                    Yes
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio-inline">
                                                                                    <label>
                                                                                    <input type="radio"   ng-model="form.editattend" name="optionsRadios" id="optionsRadios4" value="No">
                                                                                    No
                                                                                    </label>
                                                                                </div>                            </div>
                                                                </div>
                                                                <div class="form-group" >
                                                                    <label class="col-sm-2 control-label">Select Sabha</label>
                                                                    <div class="col-sm-4">
                                                                        <select name="sabha" ng-model="form.editsabha" class="form-control" required>
                                                                            <option selected>Please select your sabha</option>
                                                                            <option>Bhandup</option>
                                                                            <option>Ghatkopar</option>
                                                                            <option>Mulund</option>
                                                                            <option>Dombivli</option>   
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" >
                                                                    <label class="col-sm-2 control-label">Followup Name</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" ng-model="form.editfollowUp" class="form-control" placeholder="Followup name"required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" >
                                                                        <label class="col-sm-2 control-label">Yuvak Image</label>
                                                                        <div class="col-sm-4">
                                                                            <input ui-jq="filestyle" fileread="uploadme"  ng-model="form.image" ngf-pattern="'image/*'"accept="image/*" ngf-max-size="5MB"  type="file"  data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                                                                            </div>
                                                                    </div>
                                                                <div class="form-group" >
                                                                    <label class="col-sm-2 control-label">Leader Name</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text"  ng-model="form.editlname" class="form-control" placeholder="Leader name"required>
                                                                    </div>
                                                                </div> 
                                                                
                                                    
                                            </div>
                                        </div>
                                </div>
                                
                                                     

                        </tab>
                        <tab heading="Professional Information">
                                <div class="wrapper-md" >
                                        <div class="row">
                                                <div class="form-group">
                                                        <label class="col-sm-2 control-label">Occupation</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" ng-model="form.editoccupation" class="form-control" placeholder="Enter Occupation" required>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                        </tab>
                            
                        
                    </tabset>
                    <center><button ng-click="submitMyForm()" class="btn m-b-xs w-xs btn-success btn-rounded">Submit</button></center>
                </div> 
        </div> 
    </form>
</div>




